/*
Colour Scheme
1 - #09122C
2 - #872341
3 - #BE3144
4 - #E17564

*/

* {
  color: #A64D79; /* Font Colour */
}

.nav-bar{
  background-color: #1A1A1D;
  position: relative;
  gap: 0;
  top: 0;
  margin: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-bar div {
  margin: 0;
  padding: 0;
  height: 100%;
  line-height: 50px;
  
}
.nav-bar div a {
  display: block;
  cursor: pointer;
  text-decoration: none;
  height: 100%;
  line-height: 50px;
  margin: 0;
  padding: 0 15px;
  background-color: #1A1A1D;
}
.nav-bar div a:hover {
  background-color: #3B1C32;
}

.machine-block {
  display: flex;
  justify-content: center;
  align-items: normal;
}

body {
  background-color: #3B1C32;
  margin: 0;
}

h1 {
  text-align: center;
  padding: 0 15px;
}

p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;

}
