.wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Three equal columns */
	gap: 10px 10px; /* Space between grid items */
	padding: 10px;
	}
.box {
	background-color: #4CAF50;
	color: white;
	padding: 20px;
	text-align: center;
	border-radius: 5px;
}
